{% extends "layout.html" %}


{% block head %}
    <link href="/highlight.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/highlight-console.css" media="screen" rel="stylesheet" type="text/css" />
    {{ post.head|safe }}
{% endblock %}

{% block footer %}
    {{ post.footer|safe }}
{% endblock %}

{% block header %}
<div id="header">
    <p>From the <a href="/journal">Journals</a> of <a href="/">Tarn Barford</a></p>
    <h1>
        {{ post.title }}
    </h1>
    <p>
    {{ post['date'].strftime('%h %d, %Y') }}
    </p>
</div>
{% endblock %}

{% block content %}
<div id="post_content">
    {{ post.html|safe }}
</div>
<div id="comments">
    {% if comments %}
    <h3>Comments</h3>
    <ul>
        {% for comment in comments %}
        <li>
            {% include "journal/comment.html" %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
