{% extends "layout.html" %}
{% block content %}
<div id="about">
    <img align="left" alt="Profile" src="/profile.png" />
    <p>
    Hi, my name is Tarn. I'm a software engineer working nowhere at the momemnt
    as me and the team I was leading at <a
    href="https://yourbook.shop">yourbook.shop</a> were all layed off. I'm
  currently taking a full-time German B2 course.
    </p>

    <p>
    Here a write an infrequrently updated <a href="/journal">journal</a> about things I'm learning and
    building. I primarily write for myself
    </p>

    <p>
    I've started writing some <a href="/german">notes</a> on German grammar topics that I need to
    know but haven't yet fully interated into my writing or speaking.
    </p>

    <p>
    I built this blog so I could publish interactive content
    </p>

    <p>
    I used to write a lot on <a target="_blank"
      href="http://twitter.com/tarnacious">Twitter</a> but I've mostly stop
    posting.
    </p>
</div>
{% endblock %}
