{% extends "layout.html" %}


{% block head %}
    <link href="/static/highlight.css" media="screen" rel="stylesheet" type="text/css" />
    {{ post.head|safe }}
{% endblock %}

{% block footer %}
    {{ post.footer|safe }}
{% endblock %}

{% block header %}
<div id="header">
    <p>From the <a href="/journal">Journals</a> of <a href="/">Tarn Barford</a></p>
    <h1>
        {{ post.title }}
    </h1>
    <p>
    {{ post['date'].strftime('%h %d, %Y') }}
    </p>
</div>
{% endblock %}

{% block content %}
<div id="post_content">
    {{ post.html|safe }}
</div>
<div id="comments">
    {% if comments %}
    <h3>Discussion</h3>
    <ul>
        {% for comment in comments %}
        <li>
        {#  {% if str(comment['comment_id']) == comment_id %}

                COMMENT_FORM
            {% else %}
                #}
                <a name="{{ comment.id }}"></a>
                {% if g.user and comment.user_id == g.user.id %}
                <a href="/journal/{{ post.slug }}/comment?comment_id={{ comment.id }}#edit">Edit</a>
                {% endif %}
                <br />
                <div>
                {{ comment.html|safe }}

                {{ comment.text|safe }}
                <div class="attribution">
                    <a href="{{ comment.url }}" target="_blank">{{ comment.name }}</a>,
                    <span class="date">{{ comment.created }}</span>
                </div>
                {#
            {% endif %}
            #}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {#
    {% if g.user and form and comment_id == None %}
    #}
    {% if g.user and form  %}
    <h1>COMMENT FORM</h1>

<div id="comment_form">
    <a name="edit"> </a>
    {% if form.errors %}
        <ul class="errors">
            {% for field, errors in form.errors.iteritems() %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    <form accept-charset="UTF-8" action="/journal/{{post["slug"]}}#comment" method="post">
        <div class="field text">
            {{ form.name.label|safe }}{{ form.name()|safe }}
        </div>
        <div class="field text">
            {{ form.url.label|safe }}{{ form.url()|safe }}
        </div>
        <div class="clear"></div>
        <div class="field">
            {{ form.comment.label|safe }}{{ form.comment()|safe }}
        </div>
        <div class="actions">
            <input id="comment_submit" name="commit" type="submit" value="Publish" />
        </div>
    </form>
</div>
    {% else %}
        <a href="/auth?next=/journal/{{ post["slug"] }}#edit">Comment</a>
    {% endif %}
</div>
{% endblock %}
