{% extends "layout.html" %}
{% block content %}
<div id="about">
    <img align="left" alt="Profile" src="/static/profile.png" />
    <p>
    Programming is an amazing thing. I don't know why or even how I got into it as a kid in high school.
    I do know that once I got started I just wanted to learn more, understand deeper and write better programs.
    Over a decade later this hasn't changed, it was the start of the fantastic journey I find myself on.
    </p>
    <p>
    Throughout these journals there are be plenty of inaccuracies, opinions I no longer hold, code I wish wasn't mine and advice that is incorrect and even harmful.
    I don't want to hide this, learning from failure and continually challenging your own beliefs is part of the journey.
    </p>
    <p>
    I consider myself lucky to be able to earn a good living doing something I like
    but that can be a poisonous challis, I like to remind myself that programming for me is about fun.
    </p>
    <p>
    I'm building this site to give myself more scope to work with form and interaction in the content itself.
    This and my despise for all the widgets and advertising on my previous blog has lead to the minimalistic site here today.
    </p>

    <p>
    I also write things on <a target="_blank"  href="http://twitter.com/tarnacious">Twitter</a>
    </p>
</div>
{% endblock %}
