<!DOCTYPE html>
<html>
    <head>
        <title>Tarn Barford</title>
        <link href="/static/style.css" media="screen" rel="stylesheet" type="text/css" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss" />

        {% block head %}
        {% endblock %}

    </head>
    <body>
        <div id="container">


            <div id="header">
                {% block header %}
                    <p>
                    The <a href="/journal">Journal</a> of</p>
                    <h1>
                        Tarn Barford
                    </h1>
                    <p>
                    </p>
                {% endblock %}
                {% block user %}
                    {% if g.user %}
                    <a class="auth_link" href="{{ url_for('authentication.index') }}">profile</a>
                    {% endif %}
                {% endblock %}

                {% block flash %} 
                {% if get_flashed_messages() %}
                    <div class="messages">
                        {% for message in get_flashed_messages() %}
                        <p class=message>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% endblock %}
            </div>

            {% block content %}
            {% endblock %}

        </div>
        <div id="footer">
                <p>All original content is licensed under the cc-wiki license.</p>
        </div>
        {% block footer %}
        {% endblock %}
    </body>
</html>
